<form [formGroup]="form">
  <div class="form-group">
    <label for="oldPassword">Old Password</label>
    <input type="password" id="oldPassword" class="form-control" formControlName="oldPassword">
    <div class="alert alert-danger" *ngIf="oldP.touched && oldP.invalid">
      <div *ngIf="oldP.errors.required">Old Password is Required</div>
      <div *ngIf="oldP.errors.invalidOldPassword">Old Password is Invalid</div>
    </div>
  </div>
  <div class="form-group">
    <label for="newPassword">New Password</label>
    <input type="password" id="newPassword" class="form-control" formControlName="newPassword">
    <div class="alert alert-danger" *ngIf="newP.touched && newP.invalid">
      <div *ngIf="newP.errors.required">New Password is Required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword">
    <div class="alert alert-danger" *ngIf="confirmP.touched && confirmP.invalid">
      <div *ngIf="confirmP.errors.required">Confirm Password is Required</div>
    </div>
    <div class="alert alert-danger" *ngIf="confirmP.valid && form.invalid && form.errors.passwordMismatch">
      Password Mismatch
    </div>
  </div>
  <button class="btn btn-primary">Change Password</button>
</form>